.page2{
  width: 100%;
  height: 100%;
}

.Pg2Out{
  transform: translate(0, -500%);
  animation: P2Out 2s ease-in 1s forwards;
}

.js-page2-chart {
  width: 100%;
  height: 12rem;
  margin-top: 2rem;
}

.text_2, .title2{
  position: relative;
  top: 3rem;
  font-size: 1.5rem;
  line-height: 3rem;
  opacity: 0;
}

/*Animation* 100s*/
@keyframes P2In {
  0% {transform: translate(0, -400%); }
  100% {transform: translate(0, -500%); }
}
@keyframes P2Out {
  0% {
    transform: translate(0, -500%);
  }
  100% {
    transform: translate(0, -600%);
  }
}
