.home{
  width: 100%;
  height: 100%;
}

.title{
  font-size: 1.5rem;
  margin-bottom: 10%;
}

.player{
  position: relative;
  width: 100%;
  height: 40%;
  text-align: center;
}

.btn{
  height: 50px;
  position: absolute;
  z-index: 1;
}

.cover{
  width: 15rem;
  height: 15rem;
}

.text_h{
  position: relative;
  top: 7rem;
  font-size: 1.4rem;
  line-height: 2rem;
  padding-left: 1rem;
}

/*Animation*/

.cover{
  -webkit-animation: Rotate 10s linear infinite ;
  -moz-animation: Rotate 10s linear infinite;
  animation: Rotate 10s linear infinite;
  animation-play-state: paused;
}

.home{
  -webkit-animation: Scl 3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  -moz-animation: Scl 3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation: Scl 3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation-delay: 2500ms;
  animation-play-state: paused;
}

.text_h{
  -webkit-animation: FadeIn linear 500ms forwards;
  -moz-animation: FadeIn linear 500ms forwards;
  animation: FadeIn linear 500ms forwards;
}

/*cover rotate*/
@-webkit-keyframes Rotate{
  0%{-webkit-transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@-moz-keyframes Rotate {
  0%{-moz-transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@keyframes Rotate{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}

/*page scroll*/
@-webkit-keyframes Scl {
  0%{transform: translate(0,0);}
  100%{transform: translate(0,-100%);}
}
@-moz-keyframes Scl {
  0%{transform: translate(0,0);}
  100%{transform: translate(0,-100%);}
}
@keyframes Scl {
  0%{transform: translate(0,0);}
  100%{transform: translate(0,-100%);}
}

@-webkit-keyframes FadeIn {
  0%{opacity: 0}
  100%{opacity: 1}
}
@-moz-keyframes FadeIn {
  0%{opacity: 0}
  100%{opacity: 1}
}
@keyframes FadeIn {
  0%{opacity: 0}
  100%{opacity: 1}
}
