.page1{
  width: 100%;
  height: 100%;
}
.text_1 {
  width: 100%;
  font-size: 1.7rem;
  line-height: 3rem;
  position: relative;
  top: 30%;
}

/*Animation*/
@keyframes P1In {
  0%{transform: translate(0,0);}
  100%{transform: translate(0,-100%);}
}
