@font-face {
  font-family: fzjlt;
  src: url(../fonts/FZJLT.woff) format('woff');
  src: url(../fonts/FZJLT.eot) format('eot');
  src: url(../fonts/FZJLT.ttf) format('truetype');
}

html, body {
  font-family: fzjlt,-apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  width: 100%;
  height: 100%;
  background-image: url("../timg.jpg");
  background-size: auto 100%;
  background-attachment: fixed;
  overflow: hidden;
}

.Pages{
  position: relative;
}

.white_text{
  color: white;
}

.text_center{
  text-align: center;
}

.text_left{
  text-align: left;
}

.text_right{
  text-align: right;
}

.dialog{
  width: 95%;
  height: 7rem;
  position: relative;
  background-color: rgba(243,141,231,0.8);
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: inset 0 0 10px 5px rgb(202, 130, 200);
  top: 70%;
  visibility: hidden;
}

.dialogue{
  width: inherit;
  position: absolute;
  padding: 2px;
  font-size: 1.3rem;
  line-height: 25px;
}

/*Animation*/
@-webkit-keyframes FadeIn {
  0%{opacity: 0}
  100%{opacity: 1}
}
@-moz-keyframes FadeIn {
  0%{opacity: 0}
  100%{opacity: 1}
}
@-o-keyframes FadeIn {
  0%{opacity: 0}
  100%{opacity: 1}
}
@keyframes FadeIn {
  0%{opacity: 0}
  100%{opacity: 1}
}

@-webkit-keyframes Scl {
  0%{transform: translate(0,0); opacity: 0}
  100%{transform: translate(0,-100%); opacity: 1}
}
@-moz-keyframes Scl {
  0%{transform: translate(0,0); opacity: 0}
  100%{transform: translate(0,-100%); opacity: 1}
}
@-o-keyframes Scl {
  0%{transform: translate(0,0); opacity: 0}
  100%{transform: translate(0,-100%); opacity: 1}
}
@keyframes Scl {
  0%{transform: translate(0,0); opacity: 0}
  100%{transform: translate(0,-100%); opacity: 1}
}

@-webkit-keyframes SclOut {
  0%{transform: translate(0,0); opacity: 1}
  100%{transform: translate(0,-100%); opacity: 0}
}
@-moz-keyframes SclOut {
  0%{transform: translate(0,0); opacity: 1}
  100%{transform: translate(0,-100%); opacity: 0}
}
@-o-keyframes SclOut {
   0%{transform: translate(0,0); opacity: 1}
   100%{transform: translate(0,-100%); opacity: 0}
 }
@keyframes SclOut {
  0%{transform: translate(0,0); opacity: 1}
  100%{transform: translate(0,-100%); opacity: 0}
}

